@page "/MyCalendar"

<PageTitle>Calendar</PageTitle>

<body>
    <h2 align="center" style="color: orange;">
        <p role="status">@currentMonthName @currentYear</p>
    </h2>
    <br />
    <table bgcolor="lightgrey" align="center" cellspacing="21" cellpadding="21">
        <caption align="top">
        </caption>
        <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var week in MonthCalendar)
            {
                <tr>
                    @foreach (var day in week)
                    {
                        <td class="@GetDayClass(day)">@RenderDay(day)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</body>
<style>
    .current-day {
        background-color: #f0f0f0; 
    }
</style>
@code {
    private int currentYear = DateTime.Now.Year;
    private int currentMonth = DateTime.Now.Month;
    private string currentMonthName => new DateTime(currentYear, currentMonth, 1).ToString("MMMM");

    private int[][] MonthCalendar { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var firstDayOfMonth = new DateTime(currentYear, currentMonth, 1);
        var daysInMonth = DateTime.DaysInMonth(currentYear, currentMonth);
        var firstDayOfWeek = (int)firstDayOfMonth.DayOfWeek;

        MonthCalendar = new int[6][]; 
        int currentDay = 1;

        for (int i = 0; i < MonthCalendar.Length; i++)
        {
            MonthCalendar[i] = new int[7]; 

            for (int j = 0; j < MonthCalendar[i].Length; j++)
            {
                if (i == 0 && j < firstDayOfWeek)
                {
                    MonthCalendar[i][j] = 0; 
                }
                else if (currentDay <= daysInMonth)
                {
                    MonthCalendar[i][j] = currentDay++;
                }
                else
                {
                    MonthCalendar[i][j] = 0; 
                }
            }
        }
    }

    private string GetDayClass(int day)
    {
        return day == DateTime.Now.Day ? "current-day" : "";
    }

    private string RenderDay(int day)
    {
        return day == 0 ? "" : day.ToString();
    }
}
